Flask~=3.1.0
flask-jwt-extended~=4.7.1
flask-pymongo
flask-bcrypt~=1.0.1
python-dotenv~=1.0.1
pymongo~=4.11.1
llama-index-embeddings-huggingface
llama-index
llama-index-llms-groq
scikit-learn
sentence-transformers
groq==0.4.2
numpy
spacy
gunicorn
language_tool_python
python-Levenshtein
thefuzz
pinecone
llama-index-embeddings-cohere
llama-index-vector-stores-pinecone
Celery
redis